<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr, th, td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}
</style>

<div class="panel-body"><center><h2 class="panel-title">Task Manager</h2></center>
<table width="100%">
	<tr>
    <th>Task Name</th>
    <th>Label</th>
    <th>Priority</th>
  	</tr>
	<tr ng-repeat="task in listOfPost" >
		<td>{{task.name}}</td>
		<td>{{task.label}}</td>
      	<td>{{task.priority}}</td>
		<td width="10%"><a href="#/task/{{task.id}}">View</a></td>
		<td width="10%"><a href="#" ng-click="deleteTask(task.id);">Delete</a></td>
	</tr>
  </table></div><br>
<a href="#/task/new">Create New Task</a>